#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{RESOURCE_PATH}/framework/manage/extend/ebc.date.js" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/staff/shopacct/shopacctmanage/acctmanage-grid.js?version=$!{JS_VERSION}" ></script>

		<div class="well well-searchForm">
			<form id="searchForm" class="form-horizontal required-validate" style="margin-bottom: 0px;">
			<div class="row-fluid">
				<div class="span4">
					<div class="control-group">
						<label class="control-label">店铺名称：</label>
						<div class="controls">
							<select name="shopId" class="input-medium"  id="offline_grid_shopId"  >
									#shopStatuslist('','1')
								</select>
						</div>
					</div>
				</div>
				<div class="span4">
                    <div class="control-group">
                        <label class="control-label">开始日期：</label>
						<div class="controls">
                            <input type="text" style="cursor: pointer" class="input-medium  required Wdate" id="begDate" placeholder="" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endDate\')}'})" name="begDate" value="$!date.format('yyyy-MM-dd',$!{begDate})">
						</div>
                        
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">结束日期：</label>

                        <div class="controls">
                            <input type="text" style="cursor: pointer" class="input-medium  required Wdate" id="endDate" placeholder="" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'begDate\')}'})" name="endDate"  value="$!date.format('yyyy-MM-dd',$!{endDate})">
						</div>
                    </div>
                </div>
				<div class="clear"></div>
			</div>
			</form>
		</div>
		<div class="pull-right">
			<a class="btn btn-info" id="btnFormBaseSearch" href="#"><i class="icon-search icon-white"></i> 查询</a>
			<a class="btn" id="btnFormReset" href="#"><i class="icon-refresh"></i> 重置</a>
		</div>

        <ul class="nav nav-tabs" id="myTab">
        	<li class="active"><a href="#pendTab">待处理</a></li>
        	<li><a href="#dealTab">已处理</a></li>
        </ul>
         
        <div class="tab-content">
        	<div class="tab-pane active" id="pendTab" data-toggle="tab">
        		<div class="row-fluid">
        			<table id="pendTable"></table>
        		</div>
        	</div>
        	<div class="tab-pane" id="dealTab" data-toggle="tab">
        		<div class="row-fluid">
        			<table id="dealTable"></table>
        		</div>
        	</div>
        </div>