#parse("/module/mod-grid.vm")
#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/order/tmall/tmall-detail.js?version=$!{JS_VERSION}" ></script>
<input type="hidden" name="orderId" id="orderId" value="$!{orderId}"/>
<div class="row-fluid">
	<table id="tmallDetailGridTable"></table>
</div>