#parse("/module/mod-form.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/common/regist/smsUtil.js"></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/common/forget/forget-pwd.js"></script>
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>

</head>
<body>
<header class="am-header am-header-fixed">
    <div class="am-header-title">
        找回密码
    </div>
    <div class="am-header-left am-header-nav">
        <a href="$CONTEXT_PATH/login" class="">
            <i class="public-arrowleft"></i>
        </a>
    </div>
</header>
<div class="ui-content">
    <form class="am-form am-form-horizontal lg-form reg-form required-validate" id="formForget">
        <div class="form-box">
            <div class="am-form-group">
                <label class="am-u-sm-2 am-form-label ">
                    <i class="icon icon-phone-reg"></i><font style="color:red">*</font>手机号码</label>

                <div class="am-u-sm-10">
                    <input type="text" id="mobile" class="yzm-input required mobilePhone" maxLength="11" name="mobile" placeholder="请输入手机号码">
                </div>
            </div>
            
            <div class="am-form-group reg-mg">
                <label class="am-u-sm-2 am-form-label">
                    <i class="icon icon-yzm-reg"></i><font style="color:red">*</font>验证码</label>
                <div class="am-u-sm-10">
                    <div class="rfr clearfix">
                        <input type="text" id="checkCode" maxLength="6" name="checkCode" class="required yzm-input" placeholder="请输入验证码">
                        <button type="button" class="yzm" id="sms-win-getcode" style="border:1px #ecebe9 solid;background-color:#ff6b01">获取验证码</button>
                    </div>
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-u-sm-2 am-form-label">
                    <i class="icon icon-psd2-reg"></i><font style="color:red">*</font>新密码</label>

                <div class="am-u-sm-10">
                    <input type="password" class="required checkPassword" id="newPwd" maxLength="16" name="newPwd" placeholder="请输入密码">
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-u-sm-2 am-form-label">
                    <i class="icon icon-psd1-reg"></i><font style="color:red">*</font>确认密码</label>

                <div class="am-u-sm-10">
                    <input type="password" class="required" equalTo="#newPwd" id="pwd2" name="pwd2" maxLength="16" placeholder="请再次输入密码">
                </div>
            </div>

        </div>
        <div class="reg-b">
            <div class="wbtn" id="forgetPwd">提交</div>
        </div>
    </form>
</div>
</body>
