#parse("sys/sys_param.vm")
<script type="text/javascript" src="$BUSIJS_PATH/seller/order/ordback/compensate.js?version=$!{JS_VERSION}"></script>
<div class="well well-submitForm">
	<form id="submitForm" class="form-horizontal required-validate" style="margin-bottom: 0px;">
	  <input type="hidden" id="realMoney" name="realMoney" >
	   <input type="hidden" id="orderId" name="orderId" >
	    <input type="hidden" id="staffName" name="staffName" >
	<div class="row-fluid">
		<div class="span3">
			<div class="control-group">
				<label class="control-label">订单编号：</label>
				<div class="controls" style="line-height: 33px;">
					 <span id='orderIdspan'></span>					
				</div>
			</div>
		</div>
		<div class="span3">
            <div class="control-group">
                <label class="control-label">交易金额：</label>
                <div class="controls" style="line-height: 33px;">
                	<span id='realMoneyspan'></span>               
                </div>
            </div>
        </div>
		<div class="span3">
            <div class="control-group">
                <label class="control-label">补偿性退款金额：</label>
                <div class="controls">
                   <input type="text" id="backMoney" class="input-large required"  name="backMoney" min="0.01" max="9999999999" placeholder="请输入退款金额" >
                   <span id="backMoneyspan" style="color:#C62626"><span>
                </div>
            </div>
        </div>
		<div class="clear"></div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="control-group">
				<label class="control-label">收款人会员号：</label>
				<div class="controls" style="line-height: 33px;">
					 <span id='staffNamespan'></span>
					
				</div>
			</div>
		</div>	
		<div class="clear"></div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="control-group">
				<label class="control-label">备注：</label>
				<div class="controls">
					 <textarea rows="4" style="width:800px;" class="input-large required" id="memo" name="memo" id="checkCont" maxlength="80"></textarea>			
					 <span id="memospan" style="color:#C62626"></span>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
	</div>
	<div class="row-fluid" style="margin-bottom: 10px;">
		<div class="pull-right">
			 <span class="sbtn sbtn-blue" id="btn_submit"><i class="icon-search"></i> 提交</span>
	         <span class="sbtn" id="btn_return"><i class="icon-asterisk icon-color"></i> 返回</span>
		</div>
	</div>
	</form>
</div>
<hr/>
<div class="well well-searchForm">
	<form id="searchForm" class="form-horizontal required-validate" style="margin-bottom: 0px;">
	<input type="hidden" id="shopId" name="shopId" value="$!{shopId}" >
	<div class="row-fluid">
		<div class="span4">
            <div class="control-group">
                <label class="control-label">订单编号：</label>
                <div class="controls">
                    <input type="text" id="orderId" name="orderId4Search" class="input-medium" value="" placeholder="">
                </div>
            </div>
        </div>
		<div class="span4">
            <div class="control-group">
                <label class="control-label">开始日期：</label>
                <div class="controls">
                    <input type="text" style="width:150px;" class="input-small Wdate" id="begdate" placeholder="" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'enddate\')}'})" name="begDate" value="$!date.format('yyyy-MM-dd',$!{begDate})">
                </div>

            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label">结束日期：</label>
                <div class="controls">
                    <input type="text" style="width:150px;" class="input-small Wdate" id="enddate" placeholder="" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'begdate\')}'})" name="endDate"  value="$!date.format('yyyy-MM-dd',$!{endDate})">
                </div>

            </div>
        </div>
		<div class="clear"></div>
	</div>
	</form>
</div>

<div class="row-fluid" style="margin-bottom: 10px;">
	<div class="pull-right">
		<span class="sbtn sbtn-blue" id="btnFormSearch"><i class="icon-search"></i> 查询</span>
		<span class="sbtn" id="btnFormReset"><i class="icon-asterisk icon-color"></i> 重置</span>
	</div>
</div>

<div class="seller-tab">
    <div class="tab-content" >
		<div class="nItem" id="order-contentDiv">
			#parse("/seller/order/ordbackgdslist/order-refund-compensate.vm")
        </div>
    </div>
</div>