<!-- 文章列表   1类型   首页人卫公告 -->
#parse("/rwgw/sys/sys_param.vm")

#if(!${siteId} || ${siteId} == '')
	#set(${siteId} = '3')
#end

#if(${siteId} == '5')##官网英文版
	#set($errorMsg = "Sorry, No Data Found.")
#else
	#set($errorMsg = "亲，暂无数据！")
#end

<div class="box-head">
	<i class="box-ticon ticon-notice"></i> 
	#if($channel && $channel.id && '' != $!{channel.id})
	<a class="r-opt" href="#getGwChannelUrl($channel $!{siteId})">
		more <i class="micon micon-more"></i>
	</a>
	#end
</div>
<div class="box-body">
	#if(${articles.size()} > 0)
		<ul class="notice-list">
		#if($articles && ${articles.size()} > 0)
			#foreach($article in $articles)
			<li>
				<p title="$!{article.articleTitle}"><a href="#siteInfoURL($!{siteId})/about?articleId=$!{article.id}" target="_blank">$!{article.articleTitle}</a></p>
			</li>
			#end
		#else
		<div class ='pro-empty'>$!{errorMsg}</div>	
		#end	
		</ul>
	#else
    <div class ='pro-empty'>#if($!{errorMessage})$!{errorMessage}#else $!{errorMsg} #end</div>
    #end
</div>