<!-- 文章列表   0类型   首页热点新闻 -->
#parse("/rwgw/sys/sys_param.vm")

#if(!${siteId} || ${siteId} == '')
	#set(${siteId} = '3')
#end

#if(${siteId} == '5')
	#set($errorMsg = "Sorry, No Data Found.")
#else
	#set($errorMsg = "亲，暂无数据！")
#end

<div class="box-head">
	<i class="box-ticon ticon-new"></i>
	#if($channel && $channel.id && '' != $!{channel.id})
	<a class="r-opt" href="#getGwChannelUrl($channel $!{siteId})"> more
		<i class="micon micon-more"></i>
	</a>
	#end
</div>
<div class="box-body">
	#if($articles && ${articles.size()} > 0)
	<ul class="news-show">
	    #foreach($article in $articles)
	    #if(${velocityCount} < 5)
		<li #if(${velocityCount} == 1)class="active"#end>
			<div class="news-title article-show-img">
			    <div class="tt-wrap">
                    <a href="#siteInfoURL($!{siteId})/about?articleId=$!{article.id}" target="_blank" class="tit" title="$!{article.articleTitle}" > $!{article.articleTitle}</a>
                    <div class="cont">
                         $!{article.articleRemark}
                    </div>
                </div>
			</div>
			<div class="news-img">
				<a href="#siteInfoURL($!{siteId})/about?articleId=$!{article.id}" target="_blank"><img src="$!{article.thumbnailUrl}" alt="$!{article.articleTitle}" /></a>
			</div>
		</li>
		#end
		#end
	</ul>
	#if(${articles.size()} > 4)
	<div class="news-list">
	    #foreach($article in $articles)
	    #if(${velocityCount} > 4)
		<div class="item">
			<i class="micon micon-nl"></i>
			<p title="$!{article.articleTitle}"><a href="#siteInfoURL($!{siteId})/about?articleId=$!{article.id}" target="_blank">$!{article.articleTitle}</a></p>
			<span class="ntime"> $!date.format('yyyy-MM-dd',$!{article.pubTime})  </span>
		</div>
		#end
		#end
	</div>
	#end
	#else
    <div class ='pro-empty'>#if($!{errorMessage})$!{errorMessage}#else $!{errorMsg} #end</div>
    #end
</div>