@charset "UTF-8";
.home-icon {
  background: url("../images/home.png") no-repeat;
  width: 26px;
  height: 26px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}
.breadcrumb {
  height: 70px;
  line-height: 70px;
}
.breadcrumb li {
  float: left;
}
.breadcrumb .p1 {
  font-size: 18px;
  font-family: "Microsoft Yahei", Simsun;
}
.breadcrumb .active {
  color: #666;
  margin-left: 5px;
}
.w-main {
  padding-left: 250px;
  *zoom: 1;
  overflow: hidden;
}
.w-main:before,
.w-main:after {
  display: table;
  line-height: 0;
  content: "";
}
.w-main:after {
  clear: both;
}
.w-left,
.w-right {
  margin-bottom: -3000px;
  padding-bottom: 3000px;
}
.w-left {
  float: left;
  width: 230px;
  background-color: white;
  margin-left: -250px;
}
.w-left dl {
  border: 1px solid #eeeeee;
  padding-bottom: 20px;
}
.w-left dt {
  height: 60px;
  background-color: #1773d2;
  font-size: 18px;
  font-family: "Microsoft Yahei", Simsun;
  color: white;
  line-height: 60px;
  text-align: center;
}
.w-left dd {
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  margin: 0 20px;
}
.w-left dd:last-child {
  border-bottom: 0px;
}
.w-left dd a {
  color: #666666;
  padding-left: 30px;
  height: 44px;
  line-height: 44px;
  display: block;
  overflow: hidden;
  word-break: break-all;
}
.w-left dd a:hover {
  background-color: #eeeeee;
}
.w-left dd a.active {
  background-color: #eeeeee;
  font-weight: bold;
}
.w-right {
  width: 100%;
  border-left: 2px dashed #eeeeee;
  color: #666666;
  float: left;
}
.w-right h2 {
  font-size: 20px;
  font-family: "Microsoft Yahei", Simsun;
  font-weight: normal;
}
.w-right .date {
  color: #666666;
  padding: 10px 0;
}
.w-right p {
  margin-top: 20px;
}
.w-right-p {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  padding-bottom: 100px;
}
.w-right-p img {
  max-width: 750px;
}
.list-nav li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  position: relative;
  padding-right: 155px;
}
.list-nav li a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-nav li .l-time {
  position: absolute;
  right: 0;
  top: 2px;
  width: 140px;
  font-size: 12px;
  color: #999;
}
.webDef {
  font: 12px/1.5 "sans serif", tahoma, verdana, helvetica;
  color: #020202;
}
.webDef code,
.webDef kbd,
.webDef pre,
.webDef samp {
  font-family: monospace;
}
.webDef button,
.webDef input,
.webDef select,
.webDef textarea {
  font: 12px/1.5 tahoma, arial, '\5b8b\4f53', sans-serif;
}
.webDef h1 {
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.webDef h2 {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: inherit;
  font-weight: bold;
}
.webDef h3 {
  font-size: 1.17em;
  font-weight: bold;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.webDef h4 {
  font-size: inherit;
  font-weight: bold;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.webDef h5 {
  font-size: 0.83em;
  font-weight: bold;
  -webkit-margin-before: 1.67em;
  -webkit-margin-after: 1.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.webDef h6 {
  font-size: 0.67em;
  font-weight: bold;
  -webkit-margin-before: 2.33em;
  -webkit-margin-after: 2.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.webDef ul,
.webDef ol {
  list-style: disc;
}
.webDef dl {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.webDef dd {
  display: block;
  -webkit-margin-start: 40px;
}
.webDef td {
  font: 12px/1.5 "sans serif", tahoma, verdana, helvetica;
}
.webDef fieldset {
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  border: 2px groove threedface;
}
.webDef legend {
  display: block;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
}
.webDef input[type="button"],
.webDef input[type="submit"],
.webDef input[type="reset"],
.webDef input[type="file"]::-webkit-file-upload-button,
.webDef button {
  padding: 2px 6px 3px;
}
.webDef hr {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}
.webDef ul,
.webDef ol {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.webDef p,
.webDef div {
  word-wrap: break-word;
}
.webDef p {
  text-indent: 0;
  margin: 5px 0;
}
.webDef table {
  border-collapse: collapse;
}
.webDef img {
  border: 0;
}
.webDef noscript {
  display: none;
}
.webDef a {
  color: #0202ee;
  text-decoration: underline;
}
.webDef a:hover {
  color: #0202ee;
}
.webDef a:link,
.webDef a:visited {
  outline: 0;
}
.webDef a:visited {
  color: #561c8c;
}
.webDef table.ke-zeroborder td {
  border: 1px dotted #AAA;
}
