#parse("/rwgw/sys/sys_param.vm")

#if(!${siteId} || !${siteId} == '' )
	#set(${siteId} = '3')
#end

##如果是官网英文版 则引入英文版的分页栏
#if(${siteId} == '5')
	#parse("/module/mod-page-en.vm")
	#set($errorMsg = "Sorry, No Data Found.")
#else
	#parse("/module/mod-page.vm")
	#set($errorMsg = "亲，暂无数据！")
#end

<div class="w-right-p">
	<ul class="list-nav" style="min-height: 350px;">
		#if($respVO.list && $respVO.list.size() > 0 )
			#foreach($article in $respVO.list)
				<li>
	               ##<a class="article-item" href="javascript:void(0);" data-id="$!{article.id}" data-title="#escapeHtml($!{article.articleTitle})">    
				   <a class="article-item" href="#siteInfoURL($!{siteId})/about?articleId=$!{article.id}" data-id="$!{article.id}" data-title="#escapeHtml($!{article.articleTitle})">
	                   <h3 title ="#escapeHtml($!{article.articleTitle})">#escapeHtml($!{article.articleTitle})</h3>
	                   <p title="#escapeHtml($!{article.articleRemark})">#escapeHtml($!{article.articleRemark})</p>
                   </a>
                   <div class="l-time"><p class="time1">$!date.format('MM-dd',$!{article.pubTime})</p><p class="time2">$!date.format('yyyy',$!{article.pubTime})</p></div>
               </li>
			#end
		#else
		<div class ='pro-empty'>$!{errorMsg}</div>
		#end
	</ul>
	##搜索条件   供分页栏使用
	<div id="serch-params" data-channel-id="$!{channelId}" data-site-info-id="$!{siteInfoId}" data-keyword="#escapeHtml($!{keyword})" data-menu-type="list2" style="display:none;"></div>
	<!--分页-->
	#if($respVO.list && $respVO.list.size() > 0 )
	<div class="row-fluid page-f">
		<div id="pageControlbar" class="ecppage" data-total-page="$!{respVO.totalPage}" data-total-row="$!{respVO.totalRow}"  data-page-size="$!{respVO.pageSize}" data-page-number="$!{respVO.pageNumber}" data-status="begin"></div>
	</div>
	#end
</div>	
<script type="text/javascript" src="$!{BUSIJS_PATH}/main/about-list2.js"></script>