###set($CONTEXT_PATH = ${request.getScheme()} + '://' + ${request.getServerName()}+':'+${request.getServerPort()}+${rc.getContextPath()})
#set($CONTEXT_PATH = ${request.getContextPath()})
#set($RESOURCE_PATH = ${CONTEXT_PATH}+'/js')
#set($IMAGE_PATH = ${CONTEXT_PATH}+'/images')
#set($CSS_PATH = ${CONTEXT_PATH}+'/css')
#set($BUSIJS_PATH = ${CONTEXT_PATH}+'/js-busi')
#set($JS_VERSION = "1.1.2")
#set($MALL_SITE_URL = "#siteInfo('9')")
###set($FROM_ID = ${request.getParameter('FROM_ID')})
####使用session的方式；
###set($LOCAL = ${request.getSession().getAttribute('org.springframework.web.servlet.i18n.SessionLocaleResolver.LOCALE')})
###if($LOCAL)
###set($LOCAL ='_'+$LOCAL)##
###else
###set($LOCAL ='_zh_CN')##
###end