#set($ifPage = '0')
#foreach($value in $!{gdsDetailInfo.skuInfo.allPropMaps.get("1028").values})
	#if($!{value.id}=='306')
		#set($ifPage = '1')
	#end
#end
<div class="item">
	##该价格如果有促销活动的，则会被促销计算所得价格覆盖，请注意。（业务需求）
    <label>
        价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格
    </label>
    <span class="c-red">
        <b id="realPrice">
			#set($pagePrice = '0')
			#if($ifPage =='1' && $!{stockStatus}=="00")
				#foreach($value in $!{gdsDetailInfo.skuInfo.allPropMaps.get("1029").values})
					#set($pagePrice = $!{value.propValue})
            	#end
			#end
			#if($pagePrice =="" || $pagePrice =='0')
				#money($!{gdsDetailInfo.skuInfo.discountPrice})
			#else
				#money($pagePrice)
			#end
			
        </b>
    </span>
</div>

#if(${gdsDetailInfo.skuInfo.appSpecPrice} && $!{gdsDetailInfo.skuInfo.appSpecPrice}!=0)
<div class="item phone-buy">
    <label>
        促&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销
    </label>
	<span class="promotion">手机专享</span>
    <span id="appSpecPrice">
        #money($!{gdsDetailInfo.skuInfo.appSpecPrice})
    </span>
	<div class="qrcode-wrap">
        <span class="c-link">去手机购买</span>
        <span class="icon"><s></s><b></b></span>
        <div class="qrcode">
            <img src="${CONTEXT_PATH}/images/pchat.png" alt="">
        </div>
    </div>
</div>
#end


<div class="item">
	##该价格如果有促销活动的，则会被促销计算所得价格覆盖，请注意。（业务需求）
    <label>
        原&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价
    </label>
    <span class="c-gray t-mline" id="guidePrice">
        #money($!{gdsDetailInfo.skuInfo.guidePrice})
    </span>
</div>

#if($!{gdsDetailInfo.skuInfo.ifFree}=='1')
<div class="item">
    <label>
        邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费
    </label>
    <span class="promotion" id="ifFree">
        免邮
    </span>
</div>
#end

<div class="item item-w" id="saleList"></div>
<div class="line-dash"></div>
	#parse("/goods/gdsdetail/gdsdetail-commonprice.vm")

###if($!{gdsDetailInfo.ifLadderPrice}==1)
##    #parse("/goods/gdsdetail/gdsdetail-ladderprice.vm")
###else
   ## 
###end
<div class="item mt20 addcbtns">
    <label>
        &nbsp;
    </label>
    
    <span name="addToCart" #if($!{stockStatus}=='00' && $!{gdsType.ifNeedstock}=='1')class="mbtn mbtn-disable"  disabled  #else class="mbtn mbtn-orange" #end id="addToCart">
        <i class="micon micon-bcar"></i>$!{addToCartPromp}
       ## 加入购物车
    </span>
	#if($ifPage == '1' && ($pagePrice !="" && $pagePrice !='0'))
		<span name="addPageToCart" #if($!{stockStatus}=='00' || $!{gdsDetailInfo.gdsTypeId}=='2')class="mbtn mbtn-orange"  #else class="mbtn mbtn-disable"  disabled   #end id="addPageToCart" >
        <i class="micon micon-bcar"></i>
			购买数字印刷版
		</span>
	#end
    #set($val = ${paramTools.getSysConfigCode("ORD_CART_EASYBUY")})
    #if($val=="1")
        <span name="buyBtn" #if($!{stockStatus}=='00' && $!{gdsType.ifNeedstock}=='1')class="mbtn mbtn-disable"  disabled  #else class="mbtn mbtn-orange" #end id="buyBtn">
##        <i class="micon micon-bcar"></i>
        立即购买
    </span>
	#end
	#if($!{gdsDetailInfo.skuInfo.allPropMaps.get("1052").values.get(0).propValue} && $!{gdsDetailInfo.skuInfo.allPropMaps.get("1052").values.get(0).propValue}!="")
		<a href='#sysconfig("SUB_CHAPTER_PURCHASE_URL")$!{gdsDetailInfo.skuInfo.allPropMaps.get("1052").values.get(0).propValue}' target="_blank"  title="跳转到中国医药数字图书馆">
    	   <span class="mbtn mbtn-orange">
                                分章购买
           </span>
	    </a>
	#end
	
	
</div>
<input type="hidden" id="ifPage" value="$ifPage"/>