<div class="seller-box" id="gds-baseInfo">
            <div class="head">
                <h3>基本信息</h3>
            </div>
            <div class="body">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">店铺名称：</label>

                            <div class="controls">
                                <select class="required" id="shopId" name="shopId" #if($!{copyFlag}!=1)disabled#end>
                                   #set($scoreShopId=${paramTools.getSysConfigCode("GDS_SCORE_SHOP_DEFAULT")})
                                   #sellerList($!{gdsInfo.shopId},$scoreShopId)
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">产品类型：</label>

                            <div class="controls">
								<select onchange="choseGdsCat(this)" class="required" id="gdsTypeId" name="gdsTypeId" disabled>
									#if($!{copyFlag}!=1)disabled#end>
											<!--option value="">请选择</option-->
											#foreach($list in $!{gdsTypeList})
												<option value="$!{list.id}" #if($!{gdsInfo.gdsTypeId}==$!{list.id})selected#end>$!{list.typeName}</option>
											#end
                                        </select>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label">产品名称：</label>

                            <div class="controls">
								<input type="text"
									   value="$!{gdsInfo.gdsName}"
									   class="input-xxlarge required" 
									   name="gdsName" 
									   id="gdsName" 
									   onKeyDown="textCounter('gdsName',128,'remLen')"   
									   onkeyup="textCounter('gdsName',128,'remLen')"/>
									   #set($a = 128 - $!{gdsInfo.gdsName.length()})
                                <span class="help-inline">还能输入<span class="text-red"><b id="remLen">$a</b></span>字</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label">产品副标题：</label>

                            <div class="controls">
								<textarea style="padding:0 5px" 
										class="input-xxlarge" 
										rows="3" 
										id="gdsSubHead" 
										name="gdsSubHead" 
										onkeyDown="textCounter('gdsSubHead',100,'remLenHead')" 
										onkeyup="textCounter('gdsSubHead',100,'remLenHead')">$!{gdsInfo.gdsSubHead}</textarea>
										#if($!{gdsInfo.gdsSubHead})
										#set($b = 100 - $!{gdsInfo.gdsSubHead.length()})
										#else
											#set($b = 100)
										#end
                                <span class="help-inline">还能输入<span class="text-red"><b id="remLenHead">$b</b></span>字</span>
                            </div>
                        </div>
                    </div>
                </div>
				##空出一行
                <div class="row-fluid">
                    <div class="span6">

                    </div>
                </div>
				
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label">产品参考价：</label>
                            <div class="controls">
								<input type="text" 
										class="input-large required priceNumber priceLength" 
										value="#moneyNum($!{gdsInfo.guidePrice})"
										name="guidePrice" 
										id="guidePrice"/>
                            </div>
                        </div>
                    </div>
                </div>
				##开始遍历属性
				#foreach($params in $!{rspDto.basics})
					###foreach($props in $!{gdsInfo.props})
						###if($!{params.id} == $!{props.id})
					 <div class="row-fluid">
						 <div class="span12">
							<div class="control-group">
					            <label class="control-label" id="$!{params.id}">#if($!{params.ifHaveto} =='1' && $!{params.propValueType}==$!{PROP_VALUE_TYPE_3})<span style="color:red">*</span>#end$!{params.propName}：</label>
                                <div class="controls">
                                     #if($!{params.propValueType}==$!{PROP_VALUE_TYPE_1})
										#set($vals = '')
										#set($ids = '')
										#foreach($props in $!{gdsInfo.props})
        									##if($!{props.propType}==$!{PROP_VALUE_TYPE_2})
    											#if($!{params.id} == $!{props.id})
													#foreach($value in $!{props.values})
														#set($vals = $!{value.propValue})
														#set($ids = $!{value.id})
													#end
												#end
											##end
										#end
										
										###foreach($value in $!{props.values})
																###set($vals = $!{value.propValue})
																###set($ids = $!{value.id})
															###end
										
								         #if($!{params.propInputType}=='1')
									        ##文本（数字或者字符）
									        <input type="text" 
												   name="autoParamInputbase$velocityCount" 
												   ifBasic="$!{params.ifBasic}" 
												   ifmulti="input" 
												   valueId='$!{ids}'
												   value='#if($!{params.id}==1029)#moneyNum($!{vals})#else$!{vals}#end'
												   propType="$!{params.propType}" 
												   class="input-large #if($!{params.ifHaveto} =='1')required #end #if($!{params.id}==1029) priceNumber priceLength#end autoParam" 
												   propId="$!{params.id}" 
												   propName="$!{params.propName}" #if($!{params.id}==1029) id="paperChange$!{params.id}"#end/>
								         #elseif($!{params.propInputType}=='2')
									        ##日期
									        <input style="width:211px;" 
												   type="text" 
												   onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" 
												   name="autoParamInputbase$velocityCount" 
												   ifBasic="$!{params.ifBasic}" 
												   ifmulti="input" 
												   valueId='$!{ids}' 
												   propType="$!{params.propType}" 
												   class="input-large #if($!{params.ifHaveto} =='1')required #end Wdate autoParam" 
												   propId="$!{params.id}" 
												   propName="$!{params.propName}" value='$!{vals}'/>
								         #else
									         <input type="text" 
												    name="autoParamInputbase$velocityCount" 
													ifBasic="$!{params.ifBasic}" 
													ifmulti="input" 
													value='$!{vals}'
													valueId='$!{ids}' 
													propType="$!{params.propType}" 
													class="input-large #if($!{params.ifHaveto} =='1')required #end autoParam" 
													propId="$!{params.id}" 
													propName="$!{params.propName}"/>
								         #end
							          #elseif($!{params.propValueType}==$!{PROP_VALUE_TYPE_2}) 
								        <select name="abase$velocityCount" 
											    ifmulti="single" 
												propType="$!{params.propType}" 
												ifBasic="$!{params.ifBasic}" 
												class="#if($!{params.ifHaveto} =='1')required#end autoParam" 
												id="$!{params.id}" 
												propId="$!{params.id}" 
												propName="$!{params.propName}" #if($!{params.id}==1028)onchange="paperChange(this,'base')"#end>
													#set($vals = '')
    												#set($ids = '')
    												#foreach($props in $!{gdsInfo.props})
                    									#if($!{props.propType}==$!{PROP_VALUE_TYPE_2})
                											#if($!{params.id} == $!{props.id})
																#foreach($value in $!{props.values})
    																#set($vals = $!{value.propValue})
    																#set($ids = $!{value.id})
    															#end
    														#end
    													#end
    												#end
									          <option value="">请选择</option>
                                            #foreach($list in $!{params.values})
											   <option value="$!{list.id}" #if($!{list.id}==$ids) selected#end>$!{list.propValue}</option>
									        #end
                                        </select>
							         #elseif($!{params.propValueType}==$!{PROP_VALUE_TYPE_3})
								        <div id="mutisel" class="mutiselect">
                                        <input type="text" 
											   name="mutilBase$velocityCount" 
											   ifBasic="$!{params.ifBasic}" 
											   ifHavaeto="$!{params.ifHaveto}" 
											   ifmulti="multi" 
											   propType="$!{params.propType}" 
											   valueId='' 
											   propId="$!{params.id}" 
											   propName="$!{params.propName}" 
											   class="input-large head #if($!{params.ifHaveto} =='1')required#end autoParam" />
                                         <div class="selarrow">
                                            <i class="sel-drop icon-chevron-down"></i>
                                         </div>
                                         <ul class="body" name="mutisel">
										     #foreach($list in $!{params.values})
                                                <li class="item">
                                                    <label class="checklab">
                                                        <span>
														   $!{list.propValue}
                                                         </span>
														    #set($val  = '')
            												#foreach($props in $!{gdsInfo.props})
                            									#if($!{props.propType}==$!{PROP_VALUE_TYPE_2})
                        											#if($!{params.id} == $!{props.id})
    																	#foreach($value in $!{props.values})
            																#if($!{list.id}==$!{value.id})
    																			#set($val = 'checked')
    																		#end
            															#end
            														#end
            													#end
            												#end
                                                         <input class="selcheckbox" 
															    id="$!{list.id}" 
																value="$!{list.propValue}" 
																name="type"
																$val
																type="checkbox"/>
                                                    </label>
                                                 </li> 
										     #end
                                         </ul>
									 #end
								</div>
                            </div>
                        </div>
				   </div>
				#end
				##结束遍历属性
            </div>
          </div>
</div>