<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#siteName('')</title>
	#parse("/sys/sys_param.vm")
	#parse("/sys/sys_head.vm")
	<link rel="stylesheet" type="text/css" href="$CSS_PATH/default.css"/>
	#*
	<link rel="stylesheet" type="text/css" href="$CSS_PATH/school-open.css"/>
	<link rel="stylesheet" type="text/css" href="$CSS_PATH/newyear.css"/>
	*#
</head>
<body>
 <div class="loading" style="display:none"></div>
 <div class="loading-small" style="display:none"></div>
<!--右侧的楼层导航-->
#parse("/main/main-sidebar.vm")

<!--顶部的广告-->
<div class="top-ad hide ecp-component homepage-ad-top" data-status="1" data-place-size="1" data-place-id="19" data-place-width="1200" data-place-height="80" data-module="ecp-component/leaflet/leaflet-top">
    <ul class="ad-d clearfix ad-top-list">
            
    </ul>
    <i class="micon ad-close"></i>
</div>


<!--顶部 begin-->
#parse("/main/main-site-nav.vm")
<!--顶部 end-->

<!--内容 begin
<div id="content_div" class="clearfix">
-->
<div id="webBody">
	$screen_content
</div>
<!--内容 end-->

<!--快速导航 begin-->
#parse("/main/main-content-bottom.vm")
<!--快速导航 end-->

<!--底部 begin-->
#parse("/main/main-bottom.vm")
<!--底部 end-->

   
</body>
</html>