#parse("sys/sys_param.vm")


<title>退货申请 -#siteName('')</title>
<link href="$!{CSS_PATH}/order.css" type="text/css" rel="stylesheet"/>
<style>
    .order-info {
        font-family: arial;
    }
	.order-info-table td {
        text-align: center;
        vertical-align: middle;
        line-height: normal !important
    }
    .order-trace {
        font-family: arial;
    }
	.apply-btn{background-color: #ff6a00;
        font-weight: bold;
        text-align: center;
        width: 70px !important;
        height: 35px;
        color: #fff;
        font-size: 18px;
        display: inline-block;
        cursor: pointer;
        border: 0;
	}
</style>
<!--content-->
<div id="content">
    <div class="wrap1200 mt10">
        <div class="order-num">
	        <span>是否全部退货：
	        #set($checkedAll=1)
	        #foreach($!backOrderSub in $!backApplyOrdSubResps)
		        #if($backOrderSub.gdsType==2||$backOrderSub.gdsType==3)
		        	#set($checkedAll=0)
		        #end
	        #end
	        #if($checkedAll!=0)
	        <input type="radio" name="identity" value="1" checked="checked" />是
	        &nbsp;
	        <input type="radio" name="identity" value="0"  />否&nbsp;&nbsp;	        
	        #else
	        	<input type="radio" name="identity" value="0"  checked="checked"/>否&nbsp;&nbsp;
	        #end	      
	        </span>
            <span class="ml20">订单号： $!{orderId}</span>
            <span class="ml20">下单时间：$!date.format('yyyy-MM-dd HH:mm:ss',$sOrderDetailsMain.getOrderTime())</span></div>
        </div>
    </div>
   
    <!--商品清单-->
    <div class="wrap1200 ">
		<form action="" id="childForm" method="post">	
		<input type="hidden" id="checkedAll" name="checkedAll" value="$!{checkedAll}">	
        <div class="order-info clearfix">
            <div class="order-info-tit">商品清单</div>
            <div id="subList" class="order-info-com01">
                <table class="order-info-table">
                    <thead>
                    <tr>
                        <th style="width:50px">选择</th>
						<th style="width:150px">书号</th>
                        <th style="width:100px">商品图片</th>
                        <th style="width:350px">商品名称</th>
                        <th style="width:100px">订购数量</th>
                        <th style="width:100px">已退数量</th>
                        <th style="width:100px">退货数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="kong">
                        <td colspan="6"></td>
                    </tr>
					#set($statusIndex = 0)
					#foreach($!backOrderSub in $!backApplyOrdSubResps)
					#if($backOrderSub.gdsType==2||$backOrderSub.gdsType==3)
					
					#else
					#set($backIndex = $velocityCount - 1)
					<tr class="bg-fff item-body"> 
                        <td>
                        	#if($backOrderSub.gdsType==2||$backOrderSub.gdsType==3)
                        			
                        	#else
							<div>
								#set($statusIndex = $statusIndex + 1)
								<input class="itemCheck" name="itemCheck" type="checkbox" value="$!{backIndex}" disabled="true"/>
								&nbsp;&nbsp;&nbsp;
							</div>
							#end
						</td>
						<td>$!{backOrderSub.zsCode}</td>
                        <td><div class="border-right"><a href="$!{CONTEXT_PATH}$!backOrderSub.gdsUrl" target="_blank"><img src="#genImageUrl($!backOrderSub.getPicId(),'200x200!')" width="48"></img></a></div></td>
                        <td><div><a href="$!{CONTEXT_PATH}$!backOrderSub.gdsUrl" target="_blank">$!backOrderSub.gdsName</a></div></td>
                        <td><div>$!backOrderSub.orderAmount</div></td>
                        <td><div>$!backOrderSub.num</div></td>
                        #set($num= $backOrderSub.orderAmount -$backOrderSub.num)
                        <td>
	                        <div>
		                        <div class="count-input">                       	
					    			<a href="javascript:void(0)" class="minus" id="reduceCount_$!{backIndex}">-</a>
					    			<input id="num_$!{backIndex}" name="rBackApplyOrdSubResps[$!{backIndex}].num" gdstypeid="1" class="itxt" value="$num" max="999999999" type="text" readOnly="true">
					    			<a href="javascript:void(0)" class="add" id="addCount_$!{backIndex}">+</a>
		                        </div>
	                        </div>
                        </td>
						<input type="hidden" id="subnum_$!{backIndex}" value="$!num">
						<input type="hidden" id="checked_$!{backIndex}" name="rBackApplyOrdSubResps[$!{backIndex}].itemCheck" value="$!{backOrderSub.itemCheck}" disabled="true"/>
						<input type="hidden" name="rBackApplyOrdSubResps[$!{backIndex}].orderId" id="orderId" value="$!{orderId}">
						<input type="hidden" name="rBackApplyOrdSubResps[$!{backIndex}].orderSubId" id="orderSubId" value="$!{backOrderSub.orderSubId}">
						<input type="hidden" name="rBackApplyOrdSubResps[$!{backIndex}].skuId" id="skuId" value="$!{backOrderSub.skuId}">
						<input type="hidden" name="rBackApplyOrdSubResps[$!{backIndex}].zsCode" id="zsCode" value="$!{backOrderSub.zsCode}">
						<input type="hidden" name="rBackApplyOrdSubResps[$!{backIndex}].gdsUrl" id="gdsUrl" value="$!{backOrderSub.gdsUrl}">
						<input type="hidden" name="rBackApplyOrdSubResps[$!{backIndex}].picId" id="picId" value="$!{backOrderSub.picId}">
						<input type="hidden" name="rBackApplyOrdSubResps[$!{backIndex}].gdsName" id="gdsName" value="$!{backOrderSub.gdsName}">
						<input type="hidden" name="rBackApplyOrdSubResps[$!{backIndex}].discountPrice" id="discountPrice" value="$!{backOrderSub.discountPrice}">
						<input type="hidden" name="rBackApplyOrdSubResps[$!{backIndex}].orderAmount" id="orderAmount" value="$!{backOrderSub.orderAmount}">	
                    </tr>
                    #end
					#end
                    </tbody>
                </table>
            </div>
			#if($statusIndex > 0)
                <div class="ret-container border-none ret-btn" style='width:100%'> 
    				<input type="button" class="apply-btn" value="申请" />
                    <span id="selectItemCount" style="display:none;">0</span>
                </div>
			#end
        </div>
		</form>
    </div> 
</div>
<script type="text/javascript">
$(function(){
	if($!{checkedAll}==0){
		$("input[name='itemCheck']").each(function(){
			$(this).attr('disabled',false);
		});
		
	}
	
	
	
})
</script>
