#parse("/module/mod-form.vm")
#parse("/module/mod-grid.vm")
<script type="text/javascript" src="$!{RESOURCE_PATH}/framework/manage/extend/ebc.form.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/staff/shopacctbillmonth/billmonth.js?version=$!{JS_VERSION}" ></script>
<script>

	function selectMonth() {  
        WdatePicker({ dateFmt: 'yyyy-MM', isShowToday: false, isShowClear: false });  
    } 
</script>
		<div class="well well-searchForm">
			<form id="searchForm" class="form-horizontal required-validate" style="margin-bottom: 0px;">
			<div class="row-fluid">
				<div class="span4">
					<div class="control-group">
						<label class="control-label">店铺名称：</label>
						<div class="controls">
							##<input type="text" name="shopName" class="input-medium" value="" placeholder="输入店铺名称">
							<select name="shopId" style="width:160px">
								<option value="">--请选择--</option>
								#shopStatuslist('','1')
							</select>
						</div>
					</div>
				</div>
				<div class="span4">
                    <div class="control-group">
                        <label class="control-label">
          					<span class="requiredTag" style="color:red;">* </span>              
                        	结算开始日期：
                        </label>
						<div class="controls">
                            <input type="text" style="cursor: pointer" class="input-medium required Wdate" id="begDate" placeholder="" onClick="selectMonth()" name="begDate" value="$!date.format('yyyy-MM',$!{begDate})">
						</div>
                        
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">
                        	<span class="requiredTag" style="color:red;">* </span>
                        	结算结束日期：
                        </label>
                        <div class="controls">
                            <input type="text" style="cursor: pointer" class="input-medium required Wdate" id="endDate" placeholder="" onClick="selectMonth()" name="endDate"  value="$!date.format('yyyy-MM',$!{endDate})">
						</div>
                    </div>
                </div>
				
				<div class="clear"></div>
			</div>
	
			</form>
		</div>
		
		
		<div class="row-fluid" style="margin-bottom: 10px;">
			<div class="span6">
				
			</div>
			<div class="pull-right">
				<a class="btn btn-info" id="btnFormSearch" href="#"><i class="icon-search icon-white"></i> 查询</a>
				<a class="btn" id="btnFormReset" href="#"><i class="icon-refresh"></i> 重置</a>
			</div>
		</div>
		<div class="row-fluid">
			<table id="dataGridTable"></table>
		</div>