<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"

	xsi:schemaLocation="http://www.springframework.org/schema/beans    
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
						http://www.springframework.org/schema/tx   
                     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                		http://www.springframework.org/schema/context    
                    	http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                 		http://www.springframework.org/schema/mvc    
                  		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 微信菜单配置 -->
	<bean id="weixinUtil" class="com.ai.ecp.wxbase.util.WeixinUtil">
		<property name="access_token_url" value="https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&amp;appid=APPID&amp;secret=APPSECRET" />
	 	<property name="appid" value="${appid}" />
		<property name="secret" value="${secret}" />
	<!-- 	 <property name="appid" value="wx6e9891a728745f51" />
		<property name="secret" value="d4624c36b6795d1d99dcf0547af5443d" /> -->
	</bean>

	<bean id="singUtil" class="com.ai.ecp.wxbase.util.SignUtil">
		<property name="token" value="${token}" />
		<!-- <property name="token" value="tomhome_token_456" /> -->
	</bean>
	
</beans>  