#parse("/sys/sys_param.vm")
<div id="main">
	#custInfo()
                <!--查询订单-->

                <!-- 我的订单 begin -->
                <div class="mbox order-list">
                    <div class="mbox-head">
                        <h3>
                            我的订单
                        </h3>
                        <a class="hright" href="javascript:void(0)">
                           
                        </a>
                    </div>
                    <div class="mbox-body">
                        <div class="mt clearfix">
                            #parse("/order/myorder/date-box.vm")

                            #parse("/order/myorder/ord-head.vm")
                            <!--  <div class="mt-r">
                                  <div class="search">
                                      <input type="text" class="itxt" placeholder="商品名称/商品编号/订单号">
                                      <a href="javascript:;" class="def-btn search-btn">搜索<b></b></a>
                                      <a href="javascript:void(0)" class="def-btn high-search">高级<i class="ci-right"><s>◇</s></i></a>
                                  </div>
                              </div>-->
                        </div>
                        <div id="teamTabc">
							<div class="mc">
							</div>
                            <div class="mc">
							</div>
                            <div class="mc">
								#set($tableClass="order-tb")
								#foreach($!ordItem in $!resp.getResult())
									#set($ordMain = $!ordItem.getsCustomerOrdMain())
									#set($mIndex = $velocityCount - 1)
									#if($!velocityCount==1)
									#else
										#set($tableClass = "order-tb mt20")
									#end
									
                                <table class="$tableClass">
									<input type="hidden" name="orderId" value="$!{ordMain.getOrderId()}">
									<input type="hidden" name="shopId" value="$!{ordMain.getShopId()}">
                                    <tbody>
									
                                    <tr class="tr-th">
                                        <td colspan="3">
	                                        <span class="number">订单号：
	                                        <a href="javascript:void(0)" >$ordMain.getOrderId()</a>
	                                        </span>
	                                        <span class="dealtime">下单时间：$!date.format('yyyy-MM-dd HH:mm:ss',$ordMain.getOrderTime())</span>
                                            <span class="dealtime">订单类型：
                                            <a href="javascript:void(0)" >#translate("ORD_ORDER_TYPE",$!{ordMain.getOrderType()})</a>
                                            </span>
                                            <span class="dealtime">店铺：
		                                         <a href="javascript:void(0)" >$!{ordMain.getShopName()}</a>
		                                    </span>
		                                    <div align="right" style="margin-right: 30px;">
											<span class="online-kf">
											 <a href="javascript:void(0);" class="imUrl" target="_blank">
                                					<span class="imInfo" style="display:none">
                                						${cust.staffCode}#$!{ordMain.getShopId()}#1#$!{ordMain.getOrderId()}
                                					</span>
                                					 <i class="micon micon-imkf" ></i>联系客服
                                				</a>
											</span>
											<div>
                                             <!-- <div class="tr-operate">
                                            <span class="order-shop">
                                              <span class="shop-txt">通讯</span>
                                              <a href="javascript:void(0)" title="联系客服">联系客服</a>
                                            </span>
                                            </div> -->
                                        </td>
                                    </tr>
									#foreach($!ordSub in $!ordItem.getsOrderDetailsSubs())
										#set($amount = $amount + $!ordSub.getDiscountPrice())
										#set($ordSubSize = $!ordItem.getsOrderDetailsSubs().size())
                                    <tr class="tr-bd" id="$!ordSub.getSkuId()">
                                        <td>
                                            <div class="goods-item" >
                                                <div class="p-img">
                                                    <a href="$!{CONTEXT_PATH}$!ordSub.getGdsUrl()" target="_blank">
                                                        <img class="" src="#genImageUrl($!ordSub.getPicId(),'200x200!')" title="" width="60"
                                                             height="60">
                                                    </a>
                                                </div>
                                                <div class="p-msg">
                                                    <div class="p-name">
                                                        <a href="$!{CONTEXT_PATH}$!ordSub.getGdsUrl()" class="a-link" target="_blank" title="">$!ordSub.getGdsName()
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="goods-number">
                                                x$!ordSub.getOrderAmount()
                                            </div>
                                            <div class="goods-repair">
                                                <a href="javascript:void(0)">
                                                #moneyNum($!ordSub.getDiscountPrice())
                                                </a>
                                            </div>
                                            <div class="clr"></div>
                                        </td>
										#if($!velocityCount==1)
											
                                        <td rowspan="$ordSubSize">
											<div class="amount">
		                                        <strong>#money($!{ordMain.getRealMoney()})</strong> <br>
		                                        <span class="t-gray">（快递#moneyNum($!{ordMain.getRealExpressFee()})元）</span><br>
		                                    </div>
                                        </td>
                                        <td rowspan="$ordSubSize">
                                            <div class="operate">
                                                <a href="javascript:void(0)" class="_detail" >订单详情</a><br/>
                                                <div> <a href="javascript:void(0)" class="_confirm  mbtn mbtn-red">确认收货</a></div>
                                            	 #if($!{ordMain.dispatchType}!=''&&$!{ordMain.dispatchType}=='1')
                                                <p>
                                                	<input type='hidden' class='_orderid' value='$!{ordMain.getOrderId()}'>
                                                    <a href="javascript:void(0);" class="serchWl">
                                                     	   查看物流
                                                    </a>
                                                </p>
                                                #end
                                            </div>
                                        </td>
										#end
                                    </tr>
									#end
                                    </tbody>
                                </table>
								#end
                  
                            </div>
                            <div class="mc">
							</div>
                            <div class="mc">
							</div>
                        </div>
                    </div>
					<form id="confirmOrd" action="${CONTEXT_PATH}/order/recept/confirmord" method="POST">
                        <input type="hidden" name="orderId" value=""></input>
					</form>
					
                    <div class="row-fluid">
						<!--<div id="pageControlbar"></div>-->
						<div id="pageControlbar" class="ecppage" data-total-page="${resp.pageCount}" data-total-row="${resp.count}" data-page-size="${resp.pageSize}" data-page-number="${resp.pageNo}" data-status="begin"></div>
					</div>
                </div>
                <!-- 我的订单 end -->

            </div>
				
			<script>
                 $(function(){
                       $('.imUrl').each(function(){
                    	$(this).attr("href",IM.imUrl($('.imInfo',$(this)).html()));
                    })
                 });
         </script>