#parse("sys/sys_param.vm")
<script type="text/javascript" src="$!{BUSIJS_PATH}/seller/staff/shopacctdetail/seller-shopacct-expend.js?version=$!{JS_VERSION}"></script>

<div class="seller-mainR">
    <div class="main">
        <div class="seller-well">
    	 <form action="${CONTEXT_PATH}/seller/shopmgr/shopAcctDetail/exportExpendExcel" method="POST" class="form-horizontal required-validate" id="shopacctExpend">
               <div class="row-fluid">
                   <div class="span4">
                        <div class="control-group">
                            <label class="control-label">店铺名称：</label>
                            <div class="controls">
                                <select name="backShopId" id="backShopId" class="input-block-level" >
									#sellerList($!{shopId})
                                </select>
                            </div>
                        </div>
                    </div>
                    
					<div class="span4">
                        <div class="control-group">
                            <label class="control-label">订单编号：</label>
                            <div class="controls">
                                <input placeholder="" type="text" id="backOrderId" class="input-block-level" name="backOrderId"/>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
		            	<div class="control-group">
			                <label class="control-label">商户订单号：</label>
				                <div class="controls">
			                    	<input type="text" id="backPayTranNo" name="backPayTranNo" class="input-block-level" value="" placeholder="">
			            		</div>
		            	</div>
		        	</div>
               </div>
               <div class="row-fluid">
                	<div class="span4">
		            	<div class="control-group">
			                <label class="control-label">退款方式：</label>
	                        <div class="controls">
	                            <select class="input-block-level"  id="backType" name="backType">
	                                <option value="">--请选择--</option>
									<option value="0">#escapeHtml("线下退款")</option>
									<option value="1">#escapeHtml("线上退款")</option>
	                            </select>
	                        </div>
		            	</div>
		        	</div>
		        	<div class="span4">
		            	<div class="control-group">
			                <label class="control-label">退款通道：</label>
	        				<div class="controls">
	        					<select name="backWay" class="input-block-level"  id="backWay">
									<option value="">--请选择--</option>
	        						#listParam('ORD_PAY_WAY')
	        						<option value="2000">#escapeHtml("线下退款")</option>
	        					</select>
	        				</div>
		            	</div>
		        	</div>
		        	<div class="span4">
		            	<div class="control-group">
			                <label class="control-label">支出类型：</label>
	                        <div class="controls">
	                            <select class="input-block-level"  id="backOptType" name="backOptType">
	                                <option value="">--请选择--</option>
									<option value="21">#escapeHtml("退款支出")</option>
									<option value="22">#escapeHtml("退货支出")</option>
	                            </select>
	                        </div>
		            	</div>
		        	</div>
                </div>
               <div class="row-fluid">
                	<div class="span4">
                        <div class="control-group">
                            <label class="control-label">退款人：</label>
                            <div class="controls">
                                <input placeholder="" type="text" class="input-block-level" name="applyStaffCode"/>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label">支出流水号：</label>
                            <div class="controls">
                                <input placeholder="" type="text" class="input-block-level" name="backDetailId"/>
                            </div>
                        </div>
                    </div>

               </div>
                <div class="row-fluid">
                  <div class="span8">
                        <div class="control-group">
                            <label class="control-label" for="begDate">退款时间：</label>
                            <div class="controls">
                                <input type="text" class="input-block-level Wdate"
	                                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'backEndDate\')}'})" name="backBegDate"
	                                   value="$!date.format('yyyy-MM-dd',$!{backBegDate})" id="backBegDate" style="cursor: pointer; width: 135px">
									   至
	                            <input type="text" class="input-block-level Wdate"
	                                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'backBegDate\')}'})" name="backEndDate"
	                                   value="$!date.format('yyyy-MM-dd',$!{backEndDate})" id="backEndDate" style="cursor: pointer;width: 135px">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row-fluid">
                    <div class="span4">
						<div class="pull-left"> 
							<span class="btn" id="btnPrint" style="display:none;"><i class="icon-print"></i> 批量打印</span>
						</div>
                    </div>
                    <div class="span6">
		                <a class="sbtn" id="btnFormExport" href="javascript:void(0);"><i class="icon-search icon-download-alt"></i> 导出数据</a>
		            </div>
                    <div class="span4">
	
                    </div>
                    <div class="span4">
                        <div class="control-group">
                            <div class="controls">
                                <div class="btn-wrap btn-w-left">
                                    <span class="sbtn sbtn-blue" id="btnFormSearchExpend"><i class="icon-search"></i> 查询</span>
                                    <span class="sbtn" id="btnFormResetExpend"><i class="icon-asterisk icon-color"></i> 重置</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
           </form>
       </div>
           		<div class="row-fluid" style="margin-bottom: 10px;">
	            	<div class="span4">
		                <a class="sbtn" id="btnFormExportExpend" href="javascript:void(0);"><i class="icon-search icon-download-alt"></i> 导出数据</a>
		            </div>
           			<div class="span4">
						<div class="pull-left"> 
							<span class="btn" id="btnPrint" style="display:none;"><i class="icon-print"></i> 批量打印</span>
						</div>
                    </div>
					<div class="span4">
	                    <div class="control-group">
	                        <div class="controls">
	                            <div class="btn-wrap btn-w-right">
	                                <span class="sbtn sbtn-blue" id="btnFormSearchExpend"><i class="icon-search"></i> 查询</span>
	                                <span class="sbtn" id="btnFormResetExpend"><i class="icon-asterisk icon-color"></i> 重置</span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
            	</div>
           
                <input type="hidden" name="resetBackBegDate" id="resetBackBegDate" value="$!date.format('yyyy-MM-dd',$!{backBegDate})">
				<input type="hidden" name="resetBackEndDate" id="resetBackEndDate" value="$!date.format('yyyy-MM-dd',$!{backEndDate})">
			    <div id="pageMainBoxExpend">
			    	#parse("/seller/staff/shopacctdetail/page/seller-shopacct-expend-list.vm")
			    </div>
	</div>	
</div>