#parse("/module/mod-form.vm")
#parse("/module/mod-upload.vm")
<script type="text/javascript" src="$!{RESOURCE_PATH}/javascript/holder/holder.js" ></script>
<script type="text/javascript" src="$!{RESOURCE_PATH}/framework/website/extend/bus.selector.js" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/staff/custservice/custservice-third-edit.js?version=$!{JS_VERSION}" ></script>
<script type="text/javascript" src="$!{BUSIJS_PATH}/public/jquery.area.js?version=$!{JS_VERSION}" ></script>
<h3 class="heading">新增客服</h3> 
<div class="formBox row-fluid">
	<form id="detailInfoForm" class="form-horizontal required-validate " style="margin-bottom: 0px;">
		<div class="span12">
    		<div class="row-fluid formSep">
        		<div class="span6">
        			<div class="control-group">
        				<label class="control-label">管理用户选择：</label>
                        <div class="controls">
    						<input type="hidden" value="" name="staffId" id="staffId" /> 
                             <input class="input-medium required" style="width:210px;" disabled id="staffCode" name="staffCode" title="" type="text"/>
    						 <a class="btn"  href="javascript:void(0);" id="btn_cust_select">
    							<i class="icon-magic"></i>请选择用户
    						 </a>
                        </div>
        			</div>
        		</div>
        	</div>
    		<div id="shopItem" class="row-fluid formSep">
    			<div class="span6">
    				<div class="control-group">
    					<label class="control-label">所属平台：</label>
                        <div class="controls">
                            #select('IM_PLAT_SOURCE','shopId',true)
                        </div>
    				</div>
    			</div>
    		</div>
			<div class="row-fluid formSep">
				<div class="span6">
    				<div class="control-group">
    					 <label class="control-label">客服姓名：</label>
                        <div class="controls">
                            <input type="text" name="hotlinePerson"  style="width:210px;" maxlength="16" class="input-medium required" value="" /> 
                        </div>
    				</div>
    			</div>
			</div>
			<div class="row-fluid formSep">
				<div class="span6">
    				<div class="control-group">
    					<label class="control-label">客服电话：</label>
                        <div class="controls">
    						<input type="text" class="input-medium mobilePhone htmlcheck" style="width:210px;" name="hotlinePhone" id="hotlinePhone" maxlength="11" />
    					</div>
    				</div>
    			</div> 
            </div>
			<div class="row-fluid formSep">
				<div class="span6">
    				<div class="control-group">
    					<label class="control-label">上限接待人数：</label>
                        <div class="controls">
    						<input type="text" class="input-medium digits required"  style="width:210px;" name="receptionCount" id="receptionCount" />
    					</div>
    				</div>
    			</div> 
            </div>
    		<div class="pull-left" style="margin-left:45%">
				<button type="button" class="btn btn-info" id="btnFormSave" ><i class="icon-ok-sign icon-white"></i> 保　存</button>
				<button type="button" class="btn btn" id="btnReturn"><i class="icon-reply icon-white"></i> 返　回</button>
			</div>
		
		</div>
    </form> 
</div>
		