#parse("/sys/sys_param.vm")
<script type="text/javascript" src="$BUSIJS_PATH/rwzw/ad-list.js"></script>
    <div class="container">
        <ul class="breadcrumb clearfix">
            <li class="p1"><a href="#siteInfoURL('4')/journal"><i class="qk-icon qk-icon-tit"></i>期刊</a> <span class="divider">&gt;</span></li>
            <li class="p1"><a href="#">广告征集列表</a></li>
        </ul>
    </div>
    <!--期刊new-->
    <div class="wrap100 ">
        <div class="container">
            <div class="new-box-border clearfix">
                <div class="pad-box" id="dataList">
                   
                </div>
            </div>
        </div>
		<input name="placeId" id="placeId" value="28" type="hidden" />
    </div>
