#parse("sys/sys_param.vm")
<style>
    .order-info {
        font-family: arial;font-family: arial;
        background: none;
        padding:0;
        border: 1px solid #ffc778;
        margin-bottom:20px;
    }
    .order-info-table td {
        text-align: center;
        vertical-align: middle;
        line-height: normal !important
    }
    body{word-break: break-all;}
    .order-trace {
        font-family: arial;
    }
	.unitBasePrice {
    	text-decoration: line-through;
    	color: #999;
    }
    .order-msg-review{
    	background-color: #fffceb;
    	padding-left: 8px;
    	box-sizing: border-box;
    }
    .order-info-table th{
    	background-color:#ebf2f6;
    	border: 1px solid #dddddd;
    }
    .order-info-table td{
    	border: 1px solid #dddddd;
    }
    .order-info-table .border-right{
    	border-right: none;
    }
    .order-info-table{
    	margin-top: 10px;
    }
</style>
<!--content-->
<script type="text/javascript" src="$BUSIJS_PATH/main/main-content.js"></script>
<div id="content">
    <!--订单状态-->
	#set($mystatus = $!{sOrderDetailsMain.status})
    <div class="wrap1200 mt10">
        <div class="order-num">
            订单号： $!{orderId}
            <span class="ml20">状态：<span class="c-green">#translate("ORD_ORDER_STATUS",$!{sOrderDetailsMain.status})</span></span>
        </div>
    </div>
    <!--订单进度条-->
    <div class="wrap1200 mt10" style="border: 1px solid #ffc778;margin-bottom: 10px;">
        <div class="progressBar">
		#process($status $statuslist $mystatus)
		</div>	

    </div>

    <!--订单跟踪 付款信息-->
    <div class="wrap1200 order-box">
        <ul class="tab" id="teamTab">
            <li class="active"><h2>订单跟踪</h2></li>
            <li><h2>付款信息</h2></li>
        </ul>
        <div class="" id="teamTabc">
        <!--订单跟踪-->
        <div class="order-trace">
            <table class="order-table">
                <thead>
                <tr>
                    <th>处理时间</th>
                    <th>处理信息</th>
                    <th>操作人</th>
                </tr>
                <tbody>
						#foreach($!track in $!sOrderDetailsTracks)
                        <tr>
                            <td>$!date.format('yyyy-MM-dd HH:mm:ss ',$!track.createTime)</td>
                            <td>$!track.nodeDesc</td>
                            <td>$!track.createStaffName</td>
                        </tr>
						#end
                 </tbody>
            </table>
            <!--<div class="extra">
                <span id="jdshfs"> 送货方式：普通快递 </span><span>承运人：普通快递</span><span>货运单号：9934351499</span>
            </div>-->
        </div>
        <!--付款信息-->
        <div class="order-trace">
            <table class="order-table">
                <thead>
                <tr>
                    <th>付款方式：#translate("ORD_PAY_TYPE",$!{sOrderDetailsMain.payType})</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                        <tr>#set($orderDetailMoney = $!{sOrderDetailsMain.orderMoney})
                            <td>商品金额：#money($!orderDetailMoney)</td>
                            <td>运费金额：#money($!sOrderDetailsMain.realExpressFee)</td>
                        </tr>
                        <tr>
                            #set($discountAllMoney = $!{sOrderDetailsDiscount.discountOrderSum} + $!{sOrderDetailsDiscount.discountGdsSum}+$!{sOrderDetailsDiscount.discountCoupSum}+$!{sOrderDetailsDiscount.discountCoupCodeSum})
                            <td>优惠总金额：#money($discountAllMoney)</td>
                            <td>实际运费：#money($!sOrderDetailsMain.realExpressFee)</td>
                            
                        </tr>
                        <tr>
                            <td>应支付金额：#money($!sOrderDetailsMain.realMoney)</td>
                            
                        </tr>
                        <tr>
                            <td>付款时间：$!date.format('yyyy-MM-dd HH:mm:ss ',$!sOrderDetailsMain.payTime)</td>
                            <td></td>
                            <td></td>
                        </tr>
                   </tbody>
            </table>
        </div>
		<!--物流信息-->

        </div>

    </div>
    <!--订单信息-->
    <div class="wrap1200 ">
        <div class="order-info">
            <div class="order-info-tit order-msg-review">订单信息</div>
            <div class="order-info-com">
                     <dl class="fore clearfix">
                        <dt>物流信息</dt>
                        #if($!ordExpressDetailsResps && $!ordExpressDetailsResps.size()>0)
  						<dd class="wl-list">
                            #foreach($!delivery in $!ordExpressDetailsResps)                                
                            <div class="item">
                            <div class="tit">
                            	<label>送货方式：</label><span>#translate('STAFF_SHOP_DISTRIBUTION_WAY' $!delivery.deliveryType)</span>                              
                                <label>物流公司：</label><span>$!delivery.expressName</span>
                                <label>物流单号：</label><span><strong>$!delivery.expressNo</strong></span>                              
                                <label>发货时间：</label><span>$!date.format('yyyy-MM-dd HH:mm:ss ',$!delivery.sendDate)</span>
                            </div>
                            #set($expNum = 0)
                            #if($!delivery.deliveryType==1)
	                            #if($!delivery.ordExpressDetailResps && $!delivery.ordExpressDetailResps.size()>0)
	                            <div class="cont">
	                                <ul class="infos">
	                                #foreach($!express in $!delivery.ordExpressDetailResps)
	                                    #if($expNum < 5)
	                                    <li>
	                                    #else
	                                    <li style="display: none">
	                                    #end
	                                        <span class="time">
	                                            $!date.format('yyyy-MM-dd HH:mm:ss ',$!express.expressTime)
	                                        </span>
	                                        <div class="txt">
	                                             $!{express.context}
	                                        </div>
	                                    </li>
	                                    #set($expNum = $expNum +1)
	                                #end
	                                </ul>
	                                #if($expNum > 5)
	                                <div class="more" id="showdetail_">查看全部</div>
	                                #end
	                            </div>
	                            #else
	                              <div class="cont">
	                               <ul class="infos">
	                                   <li>
	                              	       	 暂时没有该运单号码的物流信息
	                              	   </li>
	                               </ul>
	                              </div>
	                            #end   
                            #end
                        </div>                                                
                        #end
						</dd>
                        #else
                            <dd>暂未发货</dd>
                        #end
							
                    </dl>
                    <dl class="clearfix">
                        <dt>收货人信息</dt>
                        <dd>
                            <ul>
                                <li>收&nbsp;货&nbsp;人：$!sOrderDetailsMain.contactName</li>
                                <li>地&nbsp;&nbsp;&nbsp;&nbsp;址：#areaName($!{sOrderDetailsMain.province})&nbsp;#areaName($!{sOrderDetailsMain.cityCode})&nbsp;$!sOrderDetailsMain.chnlAddress</li>
                                #if($!{sOrderDetailsMain.contactPhone})
                                <li>手机号码：$!sOrderDetailsMain.contactPhone</li>
                                #end
                                #if($!{sOrderDetailsMain.contactNumber})
                                <li>固定电话：$!sOrderDetailsMain.contactNumber</li>
                                #end
                            </ul>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>支付及配送方式</dt>
                        <dd>
                            <ul>
                                <li>支付方式：#translate("ORD_PAY_TYPE",$!{sOrderDetailsMain.payType})</li>
								<li>支付通道：#if($!{sOrderDetailsMain.payWay}=='9999')线下支付 #else #translate("ORD_PAY_WAY",$!{sOrderDetailsMain.payWay}) #end</li>
								<li>配送方式：#translate("STAFF_SHOP_DISTRIBUTION_WAY",$!{sOrderDetailsMain.dispatchType})</li>
                                <li>运&nbsp;&nbsp;&nbsp;&nbsp;费：#money($!sOrderDetailsMain.realExpressFee)</li>

                            </ul><br>
							 
                        </dd>
                    </dl>
					<dl class="clearfix">
                        <dt>买家备注</dt>
                        <dd>
                           $!{sOrderDetailsMain.buyerMsg}
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>发票信息</dt>
                        <dd>
                            <ul>
								#if($!{sOrderDetailsComm.invoiceType} == "0")
								<li>发票类型：#translate('ORD_INVOICE_TYPE',$!{sOrderDetailsComm.invoiceType})</li>
                                <li>发票抬头：$!{sOrderDetailsComm.invoiceTitle}</li>
                                #if($!{sOrderDetailsComm.taxpayerNo})
                                   <li>纳税人识别号：$!{sOrderDetailsComm.taxpayerNo}</li>
                                #end
                                <li>发票内容：$!{sOrderDetailsComm.invoiceContent}</li>
                                <li>&nbsp;#if($!{sOrderDetailsComm.detailFlag} == 1)&nbsp;&nbsp;&nbsp;附加明细
								#end
								<li>发票状态：#if($!{sOrderDetailsMain.billingFlag} == "0") 未开票 #else 已开票 #end</li>
								</li>
								#elseif(($!{sOrderDetailsTax.invoiceType} == "1"))
								##<li>发票类型：#translate('ORD_INVOICE_TYPE',$!{sOrderDetailsTax.invoiceType})</li>##
								<li>发票类型：#translate('ORD_INVOICE_TYPE',"1")</li>
                                <li>发票抬头：$!{sOrderDetailsTax.invoiceTitle}</li>
                                <li>税务登记号：$!{sOrderDetailsTax.taxpayerNo}</li>
                                <li>开户银行：$!{sOrderDetailsTax.bankName}</li>
								<li>注册地址：$!{sOrderDetailsTax.takerAddress}</li>
								#else
                                    <li>发票类型：不开发票</li> 
								#end
								#if($!{sOrderDetailsMain.sendInvoiceType} == "0") 
								 <li>寄票方式：附书寄出</li>
								#elseif($!{sOrderDetailsMain.sendInvoiceType} == "1") 
								  <li>寄票方式：快递寄出</li>
								  <li>快递单号：$!{sOrderDetailsMain.invoiceExpressNo}</li>
								#end
								
                                
                            </ul>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>赠品信息</dt>
                        #if($!sOrderDetailsGifts && $!sOrderDetailsGifts.size()>0)

                            #foreach($!gift in $!sOrderDetailsGifts)
                                <dd>
                                    <ul>
                                        <li>赠品名称：$!gift.giftName</li>
                                        <li>赠品数量：$!gift.giftCount</li>
                                    </ul><br/>
                                </dd>
                            #end

                        #else
                            <dd>无赠品信息</dd>
                        #end

                    </dl>
                     #if($!isOpenSellerMsgOrNot==0)
                     #else
	                    <dl class="clearfix">
	                        <dt>卖家备注$!isOpenSellerMsgOrNot</dt>
		                        <dd>
		                        	<ul>
			                        	<li>
			                        	      $!{sOrderDetailsMain.sellerMsg}  
			                            </li>
		                            </ul>
		                        </dd>
	                    </dl>
                     #end
         </div>
        </div>
    </div>

    <!--商品清单-->
    <div class="wrap1200 ">
        <div class="order-info clearfix">
            <div class="order-info-tit order-msg-review">商品清单</div>
            <div class="order-info-com01">
                <table class="order-info-table">
                    <thead>
                    <tr>
                        <th>书号</th>
                        <th>商品图片</th>
                        <th width="300px">商品名称</th>
                        <th>商品分类</th>
                        <th>价格</th>
						<th>折扣</th>
                        <th>商品数量</th>
                        #*<th>操作</th>*#
                    </tr>
                    </thead>
                    <tbody>
                    
					#foreach($!ordersub in $!sOrderDetailsSubs)
					<tr class="bg-fff">
                        <td><div class="border-right">$!ordersub.zsCode</div></td>
                        <td><div class="border-right"><a href="$!{CONTEXT_PATH}$!ordersub.gdsUrl" target="_blank"><img src="#genImageUrl($!ordersub.getPicId(),'200x200!')" width="48"></img></a></div></td>
                        <td><div class="border-right"><a href="$!{CONTEXT_PATH}$!ordersub.gdsUrl" target="_blank">#addr($!ordersub.gdsName,"100")</a></div></td>
                        <td><div class="border-right">$!ordersub.gdsCateName</div></td>
						<td>   
                        	<div class="border-right">
								#if($!{ordersub.discountPrice}!=$!{ordersub.standardPrice})
									<span class="unitBasePrice" title="商品原价">#money($!ordersub.standardPrice)</span> <br>
								#end
                            	<span class="unitPrice">#money($!ordersub.discountPrice)</span>
                            </div>
							
						 </td>
						#set($discount = $!{ordersub.discountPrice}*10000/$!{ordersub.standardPrice})
						<td><div class="border-right">#moneyNum($!discount)</div></td>
                        <td><div class="border-right">x $!ordersub.orderAmount</div></td>
                        ##<td><div class=""><a href="$!{CONTEXT_PATH}#if($!{ordersub.evalFlag} == 1)/comment/evaled#else/comment/uneval#end" target="_blank">#if($!{ordersub.evalFlag} == 1)查看评价#elseif($!{ordersub.evalFlag} == 0)待评价#end</a></div></td>
                    </tr>
					#end
                    </tbody>
                </table>
            </div>
            <div class="total clearfix">
                <ul>
					#set($orderMoney = $!{sOrderDetailsMain.orderMoney})
                    <li><span>总商品金额：</span>#money($!orderMoney)</li>
                    #set($allMoney = $sOrderDetailsMain.realMoney - $!sOrderDetailsMain.realExpressFee)
                    #if($!{sOrderDetailsDiscount.discountOrderSum} > 0)
                    #set($allMoney = $allMoney + $!sOrderDetailsDiscount.discountOrderSum)
                        <li><span>- 订单优惠：</span>#money($!{sOrderDetailsDiscount.discountOrderSum})</li>
                    #end
                    #if($!{sOrderDetailsDiscount.discountGdsSum} > 0)
                    #set($allMoney = $allMoney + $!sOrderDetailsDiscount.discountGdsSum)
                        <li><span>- 商品优惠：</span>#money($!{sOrderDetailsDiscount.discountGdsSum})</li>
                    #end
                    #if($!{sOrderDetailsDiscount.discountCoupSum} > 0)
                     #set($coupValue =($orderMoney - $allMoney) / 100.00)
	                        <li><span>- 优惠劵：</span>$coupValue</li>
                    #end
                     #if($!{sOrderDetailsDiscount.discountCoupCodeSum} > 0)
                        <li><span>- 优惠码：</span>#money($!{sOrderDetailsDiscount.discountCoupCodeSum})</li>
                    #end
                    <li><span>+ 运费：</span>#money($!sOrderDetailsMain.realExpressFee)</li>
                </ul>
                <div class="extra">

                    应付总额：<span class="ftx04"><b>#money($!sOrderDetailsMain.realMoney)</b></span>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>
