#*人卫官网第二版导航条 2017.9.5*#
#parse("/rwgw/sys/sys_param.vm")
#foreach($channel in ${channelsList})
	#set($childList = '')
	#set($childList = $channel.childList)
	<li class="#if(${childList} && 0 < ${childList.size()})dropdown#end" channelId = "$!{channel.id}">
		<a href="#getGwChannelUrl($channel $!{siteId})" target='_blank'>$!{channel.channelName}</a>
	    #if(${childList} && 0 < ${childList.size()})
	    <div class="drop-box">
	        <div class="dropdown-menu">
	            <ul class="menulist mborder">
	                #foreach($childChannel in ${childList})
	                #if(1 == ${velocityCount} % 2)
		                #set($title = '')
		                #if(10 < $!{childChannel.channelName.length()})
		                	#set($title = $!{childChannel.channelName})
		                #end
			        	<li><a href="#getGwChannelUrl($childChannel $!{siteId})" target='_blank'  title='$!{title}'>$!{childChannel.channelName}</a></li>
		            #end
		            #end
	            </ul>
	            <ul class="menulist">
	                #foreach($childChannel in ${childList})
	                #if(0 == ${velocityCount} % 2)
		                #set($title = '')
		                #if(10 < $!{childChannel.channelName.length()})
		                	#set($title = $!{childChannel.channelName})
		                #end
			        	<li><a href="#getGwChannelUrl($childChannel $!{siteId})" target='_blank'  title='$!{title}'>$!{childChannel.channelName}</a></li>
		            #end
		            #end
	            </ul>
	        </div>
        </div>
	    #end
	</li>
#end